<ion-header>
  <ion-toolbar>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
        <img src="assets/slide-1.png" />
        <h2>Ciao!</h2>
        <p>
          Benvenuto/a nella nostra <strong>APP BookShops</strong> Foriano una grande scelta di libri da leggere quando e dove vuoi TU!
        </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/slide-2.png" />
      <h2>Cerca il tuo libro!</h2>
      <p>
        usa la nostra <strong>barra di ricerca</strong> per cercare il tuo libro preferito!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/slide-3.png" />
      <h2>Acquistalo!</h2>
      <p>
        Dopo aver scelto il tuo libro dovrai comprarlo, non preocuparti <strong>la fase d'acquisto è molto semplice!</strong>
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/slide-4.png" />
      <h2>Leggilo!</h2>
      <p>
       leggi il tuo libro preferito!
      </p>
      <ion-button (click)="introEnd()" fill="clear">Continua<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>

  



</ion-content>
